
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<%= stylesheet_link_tag 'dropdown', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="dropdown_input_container">
  <!-- Btn-->
<span tooltip="a" flow="right">

  <button class="dropdown_input_btn"><span>Sound Mode</span><i class="material-icons">volume_up</i>
    <ul class="dropdown_input">
      <li class="dropdown_input_active"><a href="#">Silent</a></li>
      <li><a href="#">Vibration</a></li>
      <li><a href="#">Sound</a></li>
    </ul>
  </button>
</div>
</span>