
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<%= stylesheet_link_tag 'dropdown', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="container">
  <!-- Btn-->
  <button class="btn"><span>Account Settings</span><i class="material-icons">volume_up</i>
    <ul class="dropdown">
      <li class="active"><a href="#">Profile Information</a></li>
      <li><a href="#">Change Password</a></li>
      <li><a href="https://codepen.io/pro">Become <b>PRO</b></a></li>
      <li><a href="#">Help</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
  </button>
</div>