<%= stylesheet_link_tag 'gauges', media: 'all', 'data-turbolinks-track': 'reload' %>
<span class="gaugeCPU">
<svg class="gaugesSVG" id='gaugeCPU' percent='0'>
	<circle cx='70' cy='70' r='40'></circle>
	<circle cx='70' cy='70' r='40'></circle>

	<text class="value" x="70" y="40" text-anchor="middle">
		<tspan>0%</tspan>
	</text>	

	<text class="caption" x="70" y="70" text-anchor="middle">
		<tspan>CPU</tspan>
		
	</text>	
</svg>
<%= render "triangle_info", color: "blue", tooltip_message: "The visualization shows real time resources usage on the device" %>

</span>

<span class="gaugeMemory">
<svg class="gaugesSVG" id='gaugeMemory' percent='0'>
	<circle cx='70' cy='70' r='40'></circle>
	<circle cx='70' cy='70' r='40'></circle>

	<text class="value" x="70" y="40" text-anchor="middle">
		<tspan>0%</tspan>
	</text>	

	<text class="caption" x="70" y="70" text-anchor="middle">
		<tspan>Memory</tspan>
	</text>	
</svg>
</span>
<span class="gaugeStorage">

<svg class="gaugesSVG" id='gaugeStorage' percent='0'>
	<circle cx='70' cy='70' r='40'></circle>
	<circle cx='70' cy='70' r='40'></circle>

	<text class="value" x="70" y="40" text-anchor="middle">
		<tspan>0%</tspan>
	</text>	

	<text class="caption" x="70" y="70" text-anchor="middle">
		<tspan>Storage</tspan>
	</text>	
</svg>
</span>

