<%= stylesheet_link_tag 'input_box', media: 'all', 'data-turbolinks-track': 'reload' %>
  <div class="input_box_container">
  <form>
  <span tooltip="<%=tooltip_message%>" flow="left">
    <div class="input_box_group">
    <%= text_field :resource , input_id  , :class=>'input_box', :id => input_id, " required" => ''%>      
      <span class="input_box_highlight"></span>
      <span class="input_box_bar"></span>
      <label class="input_name" ><%= input_name %></label>
    </div>
      
    </span>
  </form>
    </div>
  
