<%= stylesheet_link_tag 'input_box', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="container">
  
  <form>
    
    <div class="group">      
      <input type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Name</label>
    </div>
      
    
  </form>
    
  
</div>