<%= stylesheet_link_tag 'input_counter', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="number">
	<span class="minus">-</span>
	<input type="text" value="1"/>
	<span class="plus">+</span>
</div>