<%= stylesheet_link_tag 'arrow_buttons', media: 'all', 'data-turbolinks-track': 'reload' %>
  <div class="arrow_container">
    <a class="arrow_button" href="#">
      <span class="right"></span>
    </a>
  </div>