<div class="custom-rangeslider">
  <input class="custom-rangeInput" title="Percentage" id="range-slider1" type="range" min="0" max="100" value="50" step="1" data-tooltip="true" aria-controls="rangeTooltip rangeLabel" aria-live="polite">
  <span class="custom-rangeslider__tooltip">0</span>
  <span class="custom-rangeslider__label">
    <span class="custom-rangeslider__label-min">0%</span>
    <span class="custom-rangeslider__label-max">100%</span>
  </span>
</div>

