<div class="switcher_container">
  <div class="option">
    <input type="radio" name="card" id="silver" value="silver" checked="checked">
    <label class="switcher_label" for="silver" aria-label="Silver">
      <span></span>
      
      Back Camera
      
    </label>
  </div>
  
  <div class="option">
    <input type="radio" name="card" id="royal" value="royal">
    <label class="switcher_label" for="royal" aria-label="Royal blue">
      <span></span>
      
      Front Camera
      
      
    </label>
  </div>
  
  
</div>