<div class="switcher_container">
  <div class="option">
    <input type="radio" name="card" id="silver" value="silver">
    <label for="silver" aria-label="Silver">
      <span></span>
      
      Silver
      
    </label>
  </div>
  
  <div class="option">
    <input type="radio" name="card" id="royal" value="royal">
    <label for="royal" aria-label="Royal blue">
      <span></span>
      
      Royal blue
      
      
    </label>
  </div>
  
  
</div>