<%= stylesheet_link_tag 'toggle', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="toggle_container">
<label class="pure-material-switch">
  <input type="checkbox" checked="checked">
  <span><span tooltip="a" flow="down"><%= label %></span></span>
</label>
</div>