<div id="dashboardContainer">

<% @selected_smartphone = smartphone.nil? ? "No Smartphones Yet" : smartphone.id.to_s + " - " + smartphone.name  %>

<div id ="drop" class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <%= @selected_smartphone %>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <% smartphones.each do |smartphone| %>
        <%= link_to smartphone.id.to_s + " - " + smartphone.name, 'smartphones/select_smartphone?smartphone_id=' + smartphone.id.to_s, class: "dropdown-item", method: :post %>
    <% end %>
  </div>


</div>