<%= stylesheet_link_tag 'modal', media: 'all', 'data-turbolinks-track': 'reload' %>

<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
   <div class="window">
     <div class="controls"> 
          <button class="buttons close" id="close"></button>
          <button class="buttons maximize" href="#"></button>
          <button class="buttons minimize" href="#"></button>
          <div class="title">Kali Terminal</div>
      </div>
      <div class="bash">
      </div>
</div>
  </div>

</div>