<%= stylesheet_link_tag 'terminal', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="terminal" style="width: 75%; height:500px; position: relative; left: 12.5%; top: 12.5%;">
<div class="window">
     <div class="controls"> 
          <button class="buttons close" id="close"></button>
          <button class="buttons maximize" href="#"></button>
          <button class="buttons minimize" href="#"></button>
          <div class="title">Kali Terminal</div>
      </div>
      <div class="bash">
      </div>
</div>
</div>
