  <%# <div id="particles-js">
</div> %>

<%# <div id="terminal"></div> %>



<%# 
<div id="black-nav-bar">
<ul>
  <li>
    <a class="list-item" href="">
      <i class="icon-reorder"></i>
    </a>
  </li>
  <li>
    <a class="list-item" href="">
      <i class="icon-th-large"></i>
    </a>
  </li>
  <li>
    <a class="list-item" href="">
      <i class="icon-bar-chart"></i>
    </a>
  </li>
  <li>
    <a class="list-item" href="">
      <i class="icon-tasks"></i>
    </a>
  </li>
  <li>
    <a class="list-item" href="">
      <i class="icon-bell"></i>
    </a>
  </li>
  <li>
    <a class="list-item" href="">
      <i class="icon-archive"></i>
    </a>
  </li>
  <li>
    <a class="list-item" href="">
      <i class="icon-comment"></i>
    </a>
  </li>
  <li>
    <a class="list-item" href="">
      <i class="icon-sitemap"></i>
    </a>
  </li>
  <li>
    <a class="list-item" href="">
      <i class="icon-thumbs-up"></i>
    </a>
  </li>
  <li>
    <a class="list-item" href="">
      <i class="icon-tumblr"></i>
    </a>
  </li>
</ul>
</div> %>





<%= render "smartphones/dropdown_smartphones", smartphones: smartphones, smartphone: smartphone %>




<div align="center">




<div id ="navi">
<%= render "smartphones/smartphone", smartphones: smartphones, smartphone: smartphone %>
</div>

<div id="infoi" class="spinner-border alerttt load" role="status">
  <span class="sr-only">Loading...</span>
</div>



</div>
<%= render "smartphones/modal"%>

