    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>




<div align="center">
<div>
<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Install the APK using ADB">
  Install APK Using ADB
</button>
<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Get the phone contacts of the victim">
  Get Contacts
</button>
<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Get the current location of the victim">
  Get Geo Locations
</button>
<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Get the SMS messages of the victim.">
  Get SMS Messages
</button>
<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Get the call logs of the victim">
  Get Call Logs
</button>



</div>

<div>
<%= image_tag("image.png", size: "500x600", alt: "Edit Entry") %>
</div>

<div>
<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Make a picture using the victim's camera">
  Make Picture
</button>
<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Make a recording using the victim's microphone">
  Make Recording
</button>
<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Make a video using the victim's camera">
  Make Video
</button>
<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Make a screenshot of the victim's screen">
  Make Screenshoot
</button>
<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Hide the payload application icon on the victim's phone">
  Hide App Icon
</button>
</div>
</div>







