<%= stylesheet_link_tag 'terminal', media: 'all', 'data-turbolinks-track': 'reload' %>
<script src="https://cdn.jsdelivr.net/jquery.typeit/4.2.3/typeit.min.js"></script>
<div id="terminalContainer">
 <div class="Terminal">
    <div class="Terminal__Toolbar">
		<div class="Toolbar__buttons">
			<button class="Toolbar__button Toolbar__button--exit">&#10005;</button>
			<button class="Toolbar__button">&#9472;</button>
			<button class="Toolbar__button">&#9723;</button>
		</div>
		<p class="Toolbar__user">rooy@kali:~</p>
    </div>
  <div class="Terminal__body"><div><span class="ps1">root@kali:~$ </span><span class="Prompt__cursor"></span></div></div>
</div>
</div>

