<div class="dashboard_icon_container">
<div class="dashboard_icon">
<svg class="count_icon" xmlns="http://www.w3.org/2000/svg" version="1.0" width="80" height="80" preserveAspectRatio="xMidYMid meet"><rect id="backgroundrect" width="100%" height="100%" x="0" y="0" fill="none" stroke="none" class="" style=""/>


<g class="currentLayer" style=""><title>Layer 1</title><g transform="translate(0,512) scale(0.10000000149011612,-0.10000000149011612) " stroke="none" id="svg_1" class="selected" fill-opacity="1">
<path d="M124.07219146592733,5090.440013595205 c-13.448889586419892,-5.188260317328272 -19.522581657706304,-9.655928923916504 -36.442152427718426,-26.661893297381408 c-37.59904615558252,-38.047242327073995 -54.22939349362864,-73.64447283763188 -59.14619183705095,-127.11237777454264 c-7.664420947099512,-84.45334849873245 21.980980829417472,-169.3390520239089 91.10538106929609,-260.85419928789383 c22.70403940933252,-30.120733508933576 46.13113739858007,-57.07086349061101 84.30863041809465,-97.42399929205315 c120.31694769786405,-126.82414109024664 251.76899752641987,-204.07157248157878 372.80900380419894,-218.9157617228235 c47.721866274393186,-5.7647336859203016 89.37004047749997,3.6029585537001902 128.41520379291256,29.256023456045547 c19.088746509757282,12.538295766876658 48.87876000225727,41.6502008807742 54.952452073543704,53.61202327905881 c8.676702958980579,17.438319399908917 9.544373254878641,35.02075714196584 2.1691757397451443,51.738484831134734 c-3.470681183592232,7.926508818140415 -9.833596686844658,14.700070899096765 -67.5336713640655,72.4915261004478 c-68.83517680791259,68.88856754674761 -70.85974083167473,70.6179876525237 -89.22542876151697,74.07682786407591 c-12.147384142572808,2.1617751322201135 -24.58399171711165,0.14411834214800792 -37.45443443959948,-6.197088712364323 c-7.664420947099512,-3.7470768958481964 -14.750395030266988,-9.944165608212526 -41.503562487123766,-36.173703879149905 l-32.10380094822814,-31.561916930413645 l-16.34112390608009,9.07945555532448 c-54.952452073543704,30.408970193229603 -90.38232248938101,55.91791675342693 -126.82447491709945,91.37102892183681 c-41.64817420310679,40.497254143590126 -66.66600106816746,73.64447283763188 -101.22820118810674,134.17417653979504 l-11.424325562657762,20.03244955857305 l31.38074236831311,31.70603527256166 c17.353405917961158,17.438319399908917 33.26069467609222,34.73252045766983 35.28525869985437,38.33547901137002 c6.362915503252427,10.95299400324858 8.676702958980579,20.608922927165082 7.953644379065534,34.444283773373805 c-1.1568937278640776,22.482461375089184 0.28922343196602085,20.75304126931309 -72.45046970748785,93.38868571190892 c-74.18581029928397,74.07682786407591 -72.30585799150481,72.77976278474381 -96.31140284468445,73.35623615333587 c-10.412043550776698,0.2882366842960158 -15.473453610182036,-0.2882366842960158 -20.390251953604363,-2.1617751322201135 z" id="svg_2" fill-opacity="1"/>
</g></g></svg>
</div>
<span class="dashboard_counts_container" style="float: right;">
<h1 class="count"><%= count %></h1>
<h4 class="category"><%= name %></h4>
</span>
</div>

