<div class="dashboard_icon_container">
<div class="dashboard_icon icon_red">
<svg class="count_icon count_color4" xmlns="http://www.w3.org/2000/svg" version="1.0" width="50" height="50" preserveAspectRatio="xMidYMid meet" style=""><rect id="backgroundrect" width="100%" height="100%" x="0" y="0" fill="none" stroke="none" class="" style=""/>


<g class="currentLayer" style=""><title>Layer 1</title><g transform="translate(0,512) scale(0.10000000149011612,-0.10000000149011612) " stroke="none" id="svg_1" class="" fill-opacity="1">
<path d="M238.26948825673105,5109.302187185875 c-22.006107465781792,-2.353775113033612 -34.39692952451264,-4.80170161402674 -48.07640200358425,-9.415100452134444 c-64.63054656200428,-21.937185574856976 -109.8322814925742,-74.28514453400753 -120.53794646462885,-139.72009075915105 c-1.9825317671978056,-12.051329419822276 -1.7842789033739057,-39.825877547120015 0.39650639255154657,-51.31229987608252 c3.865937493603514,-20.430769551991357 11.597812480810536,-41.80304803598856 21.411347466278627,-59.31513445641353 c2.6764184332848284,-4.6133994565563725 31.819638696499315,-52.91286976070232 64.9279228070053,-107.33215183357827 c65.12617864334007,-107.14384658386457 63.341896141663526,-104.60176529344426 75.33621153405893,-110.15669099856912 c16.15763664050107,-7.532080732776755 37.46985744019584,-4.142644372104782 50.05893032892737,7.814533659757975 c3.4694311401639513,3.389436360671973 19.2305608014337,28.433605369219702 66.11744280601162,105.63743427169094 c33.901297443176865,55.64324640565767 63.63927739299863,105.0725284177285 66.11744280601162,109.68591797910622 c20.51920496385684,38.9785162923817 25.574664959633722,82.47628436405223 14.571609975159303,123.80858411852454 c-8.029253735375082,30.034172780044837 -24.28601954562706,57.05551104056377 -47.97727158224982,79.65175509424003 c-28.052827869479664,26.550585031413345 -62.54888781532674,43.30946529575151 -101.2082602481948,48.958523835375914 c-9.020521027005449,1.3181140200074157 -34.793436190848084,2.447926346380962 -41.13753784588106,1.6947181803359865 zm32.91003077733826,-100.92989208545637 c18.834052883514733,-6.402268406403209 32.41439869600248,-17.700390433241342 40.443654934544604,-33.51776052867633 c4.163317493355093,-8.285288744209565 6.145849573448779,-17.41793626936279 6.046722906864919,-27.868699515257262 c-0.09912659813788674,-27.868699515257262 -19.032306216682457,-51.59475280306374 -48.175527418584586,-60.25664586221404 c-8.921394360421587,-2.6362280400148315 -24.78164912379579,-2.9186809669960514 -34.19867619134492,-0.6590570100037088 c-23.59212912478947,5.837361933992103 -42.62444410255658,23.631903136744295 -48.671159499920364,45.474941034333746 c-8.921394360421587,33.235307601695105 10.60654581497193,66.56476288065774 45.20172992423582,76.92137350169536 c7.632748320623163,2.2596241889105935 9.020521027005449,2.447926346380962 21.80785413261407,2.071322186052391 c8.822267068045965,-0.18830202218472328 13.3820912277365,-0.7532080887388924 17.545408721091594,-2.165473110175409 z" id="svg_2" fill-opacity="1"/>
</g></g></svg>
</div>
<span class="dashboard_counts_container" style="float: right;">
<h1 class="count" allign="center"><%= count %></h1>
<h4 class="category" allign="center"><%= name %></h4>
</span>
<div class="triangle red"></div>
</div>

