    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

<div class="custom-control custom-switch ">
  <input type="checkbox" class="custom-control-input right" id="customSwitch1">
  <label class="custom-control-label right" for="customSwitch1">Show Instructions</label>
</div>
