<div id="content">
  <ul class="timeline">
  <% i=0 %>
  <% activities.each do |activity| %>
    <li>
		<div class="direction-<%= if i%2 == 0 then 'r' else 'l' end %>">
			<div class="flag-wrapper">
				<span class="flag"><%= activity.type + activity.date.to_s %></span>
			</div>
			<div class="desc"><%= activity.name %></div>
		</div>
	</li>
  <% i+=1 %>
  <% end %>
  </ul>
</div>