// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
// BASIC COLOR
$skinActiveColor: #eea501 !default;

.header#header {
    height: calc(100% - 52px);
  }

  .right_row {
    position: relative;
    bottom:1450px;
    left: 750px;
    
}

@import "active_admin/mixins";
@import "active_admin/base";

@import "active_admin_flat_skin";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'timeline'



// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }




