// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
// BASIC COLOR
//$skinActiveColor: #eea501 !default;
//242f3e
//d59563
$panelBorder: yellow !important;
$skinActiveColor: #AE4C50 !default;
$bodyColor: #292B2C !default;
$skinTextColor: white !important;
$skinTextActiveColor: black !default;
$skinTextTable: blue !important;
$skinHeaderBck: #343A43 !important;
$skinBlack: pink !important;
$panelHeaderBck: purple !important;
$skinBlackLight: red !important;
$textGray: brown !important;

.header#header {
    height: calc(100% - 52px);
  }

  .right_row {
    position: relative;
    bottom:1450px;
    left: 750px;
    
}


.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

@import "active_admin/mixins";
@import "active_admin/base";

@import "active_admin_flat_skin";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'timeline';
@import 'switcher';
@import 'sliders';



#site_title{
    background-color: #37474f !important;
}

.header#header {
    width: 50% !important;
    height: 100% !important;
    overflow-x: hidden;
    transition: 2s;
    z-index: 100000;
  }

  .lEoFR {

    width: 3vw;
    height: 4px;
    border-radius: 1px;
    margin: 4px;
    background: white none repeat scroll 0% 0%;

}

.WQebA {
    height: 100% !important;
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 5vw;
    border-right: 1px solid #333333;
    background: #343A43 none repeat scroll 0% 0%;
    box-shadow: none;
    transition: all 0.3s ease 0s;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    cursor: pointer;
    transform: translateX(0px);

}

.jYpagw {
    transition: 2s;

    height: 100%;
    margin-right: 1rem;
    cursor: pointer;
    color: black;
    transition: all 0.3s ease 0s;

}

svg:not(:root) {

    overflow: hidden;

}

.eBLDUv {
    transition: 2s;

    position: absolute;
    height: 2rem;

}

#active_admin_content {
    width: 88% !important;
    float: none !important;
    padding-left: 6%;
    padding-right: 6%;
}

#footer {
    z-index: 1000;
}

#title_bar{
    width: 95% !important;
}

#map {
    height: 100%;
  }
div.columns:nth-child(3) > div.column > div.panel > div.panel_contents {
    height: 450px ;
    width: 820.567px;
    padding: 0 !important;

}
div.columns:nth-child(2) > div.column > div.panel {
}


#site_title {
    background-color: #222222 !important;
}

.header#header {
    background-color: #222222;
  }

  html .panel > h3, html .sidebar_section.panel > h3 {
    background: #343A43;
}

.header#header .header-item.tabs#tabs li a {

    color: #AE4C50 !important;

}

#title_bar{
    border-bottom: 1px solid #333333 !important;
}

html #footer{
    border-left: 1px solid #333333 !important;
    background: #343A43;
}

.panel_contents{
    background-color: #343A43 !important;
}

.panel_contents table tr.even td {

    background: #AE4C50 !important;

}
.panel_contents table tr.odd td {

    background: #000000 !important;

}

html .panel > h3, html .sidebar_section.panel > h3 {
    border-bottom: 1px solid #AE4C50;
    border-bottom-style: solid;

}

.panel {

}

.section, .panel, .sidebar_section.panel{
    background: #343A43 !important;
}

.panel h3, .sidebar_section.panel h3 {
    color: white !important;
}

.title_bar#title_bar h2 {
    color: white;
}

.breadcrumb a, .breadcrumb a:link, .breadcrumb a:visited, .breadcrumb a:active {
    color: white;
}

body {
    color: white !important;
}

.phoneSvg {
    top: 1rem;
    position: absolute;
    left: 25%;
}

li#current_user {
    top: 1rem;
    position: absolute;
    left: 25%;
}

li#logout {
    bottom: 1rem;
    position: absolute;
    left: 25%;
}

#footer #utility_nav li{
    padding: 0 !important;
}



svg:hover {
    fill: #2DFFF3 !important;
  }

a.button:not(.disabled):hover, a:link.button:not(.disabled):hover, a:visited.button:not(.disabled):hover, input[type=submit]:not(.disabled):hover, input[type=button]:not(.disabled):hover, button:not(.disabled):hover {
    background-color: #333333;
    background-image: linear-gradient(180deg, #333333, #444444);
}

html #footer:hover{
    background-color: #333333 !important;
    background-image: linear-gradient(180deg, #333333, #444444) !important;
}
html #title_bar:hover{
    background-color: #333333 !important;
    background-image: linear-gradient(180deg, #333333, #444444) !important;
}

html #header ul.tabs > li:hover > a, html #header ul.tabs > li.current > a {
    color: black;
    background: #333333 !important;
    border-radius: 0 !important;
    margin: -10px 0;
    display: block;
    margin-top: 0 !important;
}

.breadcrumb {
    background-color: #343A43 !important;
}


.btn-secondary {
    color: #fff;
    background-color: red !important;
    border-color: #AE4C50 !important;
}

.count_icon {
    fill: #2DFFF3 !important;
  }


svg.count_icon{
    transform-box: fill-box;
    animation-timing-function: cubic-bezier(.73,1.46,.95,.85);	
    transform-origin:55% 50%;
	-moz-transform-origin:55% 50%;
    animation: flip_left 3.6s forwards;    
}

svg.count_icon:hover{
	animation: flip_right 3.6s infinite forwards;

}



#left_arrow,#right_arrow{
	animation-timing-function: cubic-bezier(.73,1.46,.95,.85);	
}
#left_arrow{
	transform-origin:55% 50%;
	-moz-transform-origin:55% 50%;
	animation: flip_left 3.6s infinite forwards;
}
#right_arrow{
	transform-origin:43% 50%;
	-moz-transform-origin:43% 50%;
	animation: flip_right 1.8s infinite forwards;
	animation-delay: 0.3s;
}

@keyframes flip_left {
  0% {transform: perspective(2000px) rotateY(90deg) skewY(-1deg)}
  30% {transform:perspective(2000px) rotateY(-25deg) skewY(-0.8deg)}
  50% {transform:perspective(2000px) rotateY(20deg) skewY(0.8deg)}
  70% {transform:perspective(2000px) rotateY(-10deg) skewY(-0.8deg)}
  100% {transform:perspective(2000px) rotateY(0deg)}
}

@keyframes flip_right {
  0% {transform: perspective(2000px) rotateY(90deg) skewY(-3.5deg)}
  30% {transform:perspective(2000px) rotateY(-25deg) skewY(-0.8deg)}
  50% {transform:perspective(2000px) rotateY(20deg) skewY(0.8deg)}
  70% {transform:perspective(2000px) rotateY(-10deg) skewY(-0.8deg)}
  100% {transform:perspective(2000px) rotateY(0deg)}
}

.menu_icon {
    fill: #FFFFFF;
}

#menu_modal {
    display: none;
    position: fixed;
    z-index: 10000;
    padding-top: 100px;
    left: 100px;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .tab-content{
      border:none;
  }
// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }


.column {
    background: #343A43;
}

#main_content_wrapper{
    padding-top: 10px;
}

#main_content > .columns:first-child > .column{
    background: #292B2C !important;

}

#main_content > .columns:nth-child(2) > .column{
    background: #292B2C !important;

}

#main_content > .columns:first-child > .column {
    height: 164px;
}

#main_content > .columns:first-child > .column > .columns {
    height: 164px;
}

#main_content > .columns:first-child > .column > .columns > .column {
    height: 164px;
}

#main_content > .columns:nth-child(2) > .column > .columns > .column {
    height: 164px;
}

h1.count, h4.category{
    text-align: center;
    transition: all 0.6s ease 0s;
    position: relative !important;
    font-size: initial;

}

.dashboard_counts_container{
    float:  right;
    height: 100%;
    width: 50%;
}

.count_icon{
    float: left;
    padding-top: 25%;
    padding-left: 15%;
    transition: all 0.6s ease 0s;
}

.dashboard_icon{
    height: 100%;
    width: 50%;
    float: left;
}


.dashboard_icon_container{
    width: 100%;
    height: 100%;
}

div.columns:nth-child(3) > div.column > div.panel > div.panel_contents {
    width: auto;
}