.arrow_container_right{
    position: relative;
    float: right;
    width: 60px;
    //margin-left: 1%;
    //margin-right: 2%;
    //top:30%;
    margin-top: 45%;
}



.arrow_container_left{
    position: relative;
    float: left;
    width: 60px;
    //margin-right: 3%;
    //margin-left: 3%;
    margin-top: 45%;

}

a.arrow_button {
    //display: inline-block;
    border-radius: 50%;
  }
  
  a.arrow_button:hover .left, a.arrow_button:hover .top, a.arrow_button:hover .bottom, a.arrow_button:hover .right{
    border: 0.2em solid #e74c3c;
  }
  
  a.arrow_button:hover .left:after, a.arrow_button:hover .top:after, a.arrow_button:hover .bottom:after, a.arrow_button:hover .right:after {
    border-top: 0.2em solid #e74c3c;
    border-right: 0.2em solid #e74c3c;
  }
  
  .left {
    display: inline-block;
    width: 4em;
    height: 4em;
    border: 0.2em solid rgb(255, 255, 255);
    border-radius: 50%;
    margin-right: 1.5em;
  }
  
  .left:after {
    content: '';
      display: inline-block;
    margin-top: 1.05em;
    margin-left: 1.4em;
    width: 1.4em;
    height: 1.4em;
    border-top: 0.2em solid rgb(255, 255, 255);
    border-right: 0.2em solid rgb(255, 255, 255);
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  
  .top {
    display: inline-block;
    width: 4em;
    height: 4em;
    border: 0.2em solid rgb(255, 255, 255);
    border-radius: 50%;
    margin-right: 0.75em;
  }
  
  .top:after {
    content: '';
      display: inline-block;
    margin-top: 1.4em;
    width: 1.4em;
    height: 1.4em;
    border-top: 0.2em solid rgb(255, 255, 255);
    border-right: 0.2em solid rgb(255, 255, 255);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .bottom {
    display: inline-block;
    width: 4em;
    height: 4em;
    border: 0.2em solid #333;
    border-radius: 50%;
    margin-left: 0.75em;
  }
  
  .bottom:after {
    content: '';
      display: inline-block;
    margin-top: 0.6em;
    width: 1.4em;
    height: 1.4em;
    border-top: 0.2em solid rgb(255, 255, 255);
    border-right: 0.2em solid rgb(255, 255, 255);
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  .right {
    display: inline-block;
    width: 4em;
    height: 4em;
    border: 0.2em solid rgb(255, 255, 255);
    border-radius: 50%;
    margin-left: 1.5em;
  }
  
  .right:after {
    content: '';
      display: inline-block;
    margin-top: 1.05em;
    margin-left: 1em;
    width: 1.4em;
    height: 1.4em;
    border-top: 0.2em solid rgb(255, 255, 255);
    border-right: 0.2em solid rgb(255, 255, 255);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

