
$w: 140px;
.gaugesSVG {
	display: block;
	width: $w;
	height: $w;
	margin: 3px;
	
	circle {
		fill: none;
		stroke-width: 12px;
		transform-origin: $w/2 $w/2 0;
		transform: rotate(270deg);
		
		&:nth-child(1) {
			stroke: rgba(white, .2);
		}
		&:nth-child(2) {
			stroke: #7FC146;
			//stroke-linecap: round;
			//stroke-linejoin: round;
			stroke-dasharray: 402.124;
			stroke-dashoffset: 402.124;
			transition: all .5s ease-out;

		}
	} // circle
	
	@for $i from 1 through 100 {
		&[percent="#{$i}"] {
			circle {
				&:nth-child(2) {
					stroke-dashoffset: #{402.124 - (402.124 * ($i/100))};
					@if ($i < 40) {
						stroke: #7FC146;
					}
					@elseif ($i < 80) {
						stroke: #FF9500;
					}
					@else {
						stroke: #FA4E3B;
					}
				}
			}
		}
	} // percent dashoffset
	
	text {
		fill: #EEE;
		
		&.value {
			font-size: 36px;
			font-weight: 300;
		}

		&.caption {
			font-weight: bold;
			font-size: 15px;
			text-transform: uppercase;
		}
		
		
	} //text
	/*
	&#gaugeCPU circle:nth-child(2) {
		stroke: #7FC146;
	}

	&#gaugeMemory circle:nth-child(2) {
		stroke: #FA4E3B;
	}
	
	&#gaugeStorage circle:nth-child(2) {
		stroke: #FF9500;
	}*/

} // svg



.gaugeCPU{
    float: left;
}

.gaugeMemory{
    float: right;
}

.gaugeStorage{
    position: relative;
    left: 5%;
}