$w: 120px;
.gaugesSVG {
  display: block;
  width: 130px;
  height: $w;
  margin: 3px;
  margin-bottom: 0;
  margin-top: 0;

  circle {
    fill: none;
    stroke-width: 12px;
    transform-origin: $w/2 $w/2 0;
    transform: rotate(270deg);

    &:nth-child(1) {
      stroke: rgba(white, 0.2);
    }
    &:nth-child(2) {
      stroke: #7fc146;
      stroke-dasharray: 328;
      stroke-dashoffset: 402.124;
      transition: all 0.5s ease-out;
    }
  } // circle

  @for $i from 1 through 100 {
    &[percent="#{$i}"] {
      circle {
        &:nth-child(2) {
          stroke-dashoffset: #{402.124 - (402.124 * ($i/100))};
          @if ($i < 40) {
            stroke: #7fc146;
          }
          @elseif ($i < 80) {
            stroke: #ff9500;
          } @else {
            stroke: #fa4e3b;
          }
        }
      }
    }
  } // percent dashoffset

  text {
    fill: #eee;

    &.value {
      font-size: 22px;
      font-weight: 300;
    }

    &.caption {
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;
    }
  }
} // svg

.gaugeCPU {
  float: left;
}

.gaugeMemory {
  float: right;
}
