

/* basic stylings ------------------------------------------ */

.input_box_container{
    height:60px;
    position: relative;
    bottom: 10px;
}

.form_field_container 		{ 
  font-family:'Roboto' !important ;
  width:600px !important ; 
  //margin:30px auto 0 !important ; 
  display:block !important ; 
  background:#FFF !important ;
  //padding:10px 50px 50px !important ;
}

/* form starting stylings ------------------------------- */
.input_box_group 			  { 
  position:relative !important ; 
  //margin-bottom:45px !important ; 
  margin-left: 20px;
}
.input_box				{
  background: #343A43 !important;
  font-size:18px !important ;
  //padding:10px 10px 10px 5px !important ;
  display:block !important ;
  width: 80% !important ;
  border:none !important ;
  border-bottom:1px solid  	#E14ECA !important ;
  box-sizing: initial;
  height: 15px !important;
}
.input_box:focus 		{ outline:none !important ; }

/* LABEL ======================================= */
label.input_name 				 {
  color:#fff !important ; 
  font-size:18px !important ;
  font-weight:normal !important ;
  position:absolute !important ;
  pointer-events:none !important ;
  left:5px !important ;
  top:10px !important ;
  transition:0.2s ease all !important ; 
  -moz-transition:0.2s ease all !important ; 
  -webkit-transition:0.2s ease all !important ;
}

/* active state */
.input_box:focus ~ label, input:valid ~ label 		{
  top:-20px !important ;
  font-size:14px !important ;
  color:#fff !important ;
}

/* BOTTOM input_box_barS ================================= */
.input_box_bar 	{ position:relative !important ; display:block !important ; width:88% !important ; }
.input_box_bar:before, .input_box_bar:after 	{
  content:'' !important ;
  height:2px !important ; 
  width:0 !important ;
  bottom:1px !important ; 
  position:absolute !important ;
  background: 	#ba54f5 !important ; 
  transition:0.2s ease all !important ; 
  -moz-transition:0.2s ease all !important ; 
  -webkit-transition:0.2s ease all !important ;
}
.input_box_bar:before {
  left:50% !important ;
}
.input_box_bar:after {
  right:50% !important ; 
}

/* active state */
.input_box:focus ~ .input_box_bar:before, input:focus ~ .input_box_bar:after {
  width:50% !important ;
}

/* input_box_highlightER ================================== */
.input_box_highlight {
  position:absolute !important ;
  height:60% !important ; 
  width:100px !important ; 
  top:25% !important ; 
  left:0 !important ;
  pointer-events:none !important ;
  opacity:0.5 !important ;
}

/* active state */
.input_box:focus ~ .input_box_highlight {
  -webkit-animation:inputinput_box_highlighter 0.3s ease !important ;
  -moz-animation:inputinput_box_highlighter 0.3s ease !important ;
  animation:inputinput_box_highlighter 0.3s ease !important ;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputinput_box_highlighter {
	from { background: #E14ECA !important ; }
  to 	{ width:0 !important ; background:transparent !important ; }
}
@-moz-keyframes inputinput_box_highlighter {
	from { background: 	#E14ECA !important ; }
  to 	{ width:0 !important ; background:transparent !important ; }
}
@keyframes inputinput_box_highlighter {
	from { background: 	#E14ECA !important ; }
  to 	{ width:0 !important ; background:transparent !important ; }
}

.input_box_container form{
    padding-top: 7%;
}