// Place all the styles related to the smartphones controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.terminal{
    transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
#terminalContainer{
    width: 75%;
    position: relative;
    height: 367px;
}

#infoi {
    position: relative  ;
    bottom: 300px;
    z-index: 10;
  }
  #navi {
    position: relative  ;
    top: 0;
    left: 0;
    width: 25%;
    height: 660px;
    float: left;
  }



  #acustom {
    color: #ffffff;
    text-decoration: none;
  }

  .dashboardContainer{
    position: absolute;
}

.smartphone {
    position: relative !important;
    width: 360px !important;
    height: 615px !important;
    margin: auto !important;
    border: 8px black solid !important;
    border-top-width: 60px !important;
    border-bottom-width: 60px !important;
    border-radius: 36px !important;
  }
  
  /* The horizontal line on the top of the device */
  .smartphone:before {
    content: '' !important;
    display: block !important;
    width: 60px !important;
    height: 5px !important;
    position: absolute !important;
    top: -30px !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    background: #333 !important;
    border-radius: 10px !important;
  }
  
  /* The circle on the bottom of the device */
  .smartphone:after {
    content: '' !important;
    display: block !important;
    width: 35px !important;
    height: 35px !important;
    position: absolute !important;
    left: 50% !important;
    bottom: -65px !important;
    transform: translate(-50%, -50%) !important;
    background: #333 !important;
    border-radius: 50% !important;
  }

  .smartphone .content {
    width: 342px;
    height: 500px;
    background-image: url("hack.png ");
    position:relative;
  }

  .smartphone-icon {
      width: 45px;
      height: 45px;
      margin-right: 9%;
      border-radius: 14px;
  }

  .top-icons {
    position: relative;
    top: 6%;
    left: 5%;
  }

  .bottom-icons {
    position: relative;
    top: 25px;
  }

  .app_name{
    margin-bottom: 5%;
    width: 15%;
    margin-right: 9%;
    position: relative;
    display: inline-block;
    top: 0px;
    font-size: x-small;
    text-align: center;
    line-height: initial;
    font-weight: bold;
  }

  .app_names{
      position: relative;
      bottom: 4%;
  }


  .app_row{
      margin-bottom: 4%;
  }