
.smartphonee{
  margin: 50px !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  border-radius: 18px !important;
  box-shadow: -2px -2px  30px 0px #565656 !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  width: 58.5%;
  position: relative;
  left: 11.5%;
}

.volume-btnn{
  margin-top: 120px !important;
  width: 3px !important;
  background-color: black !important;
  height: 100px !important;
  border-radius: 5px 0 0 5px !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

.app-wrapperr{
    /* margin: 50px !important; */
    /* position: absolute !important; */
    padding: 5px 1px 10px 1px !important;
    border-radius: 20px !important;
    border: 5px solid #000 !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    background-color: black !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
            -webkit-box-sizing: border-box !important;
            box-sizing: border-box !important;
}

.topp-0{
  background-color: black !important;
  padding: 4px !important;
  text-align: center !important;
  color: white !important;
  height: 20px !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
          -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

.topp{
    background-color:black !important;
    color: white !important;
    padding: 4px !important;
    text-align: center !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

.bottomm{
    background-color: black !important;
    padding: 4px !important;
    text-align: center !important;
    color: white !important;
    height: 30px !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    margin: 10px 0 0 0 !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

.screenn{
    width: 300px !important;
    height: 450px !important;
    background-image: url("2.jfif");

    //background: #222326;
  background-repeat: no-repeat !important;
  background-size: cover !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
            -webkit-box-sizing: border-box !important;
            box-sizing: border-box !important;
}

.speakerr{
  border-radius: 20px !important;
  /* border: 1px inset white !important; */
  width: 80px !important;
  height: 60% !important;
  margin: 0 10px 0 10px !important;
  background:
-webkit-radial-gradient(black 15%, transparent 16%) 0 0,
-webkit-radial-gradient(black 15%, transparent 16%) 1px 1px,
-webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
-webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 1px 1px !important;
  background:
-o-radial-gradient(black 15%, transparent 16%) 0 0,
-o-radial-gradient(black 15%, transparent 16%) 1px 1px,
-o-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
-o-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 1px 1px !important;
  background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 1px 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 1px 1px !important;
background-color: rgba(55,55,55,0.9) !important;
background-size:3px 3px !important;
-webkit-box-sizing: border-box !important;
box-sizing: border-box !important;
}

.touch-buttonn{
    border-radius: 20px !important;
    border: 1px inset white !important;
    width: 60px !important;
    height: 100% !important;
    margin: 0 0 0 10px !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

.cameraa{
  border: 1px inset grey !important;
  background-color: rgba(0,0,0,0.3) !important;
  border-radius: 20px !important;
  width: 8px !important;
  height: 8px !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

.hidee{
  visibility: hidden !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

.timee{
  margin: 100px 0 0 0 !important;
  text-shadow: 0 0 2px 2px black !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

#ctt{
  font-size: 3rem !important;
  color: rgba(255,255,255,1) !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

#cdd{
  color: rgba(255,255,255,.7) !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}