#timeline_container {
  width: 100% !important;
  height: 100% !important;
  text-align: center !important;
}

.timeline {
  position: relative !important;
  width: 100% !important;
  margin: 0 auto !important;
  margin-top: 20px !important;
  padding: 1em 0 !important;
  list-style-type: none !important;
}

.timeline:before {
  position: absolute !important;
  left: 50% !important;
  top: 0 !important;
  content: " " !important;
  display: block !important;
  width: 4px !important;
  height: 100% !important;
  margin-left: -3px !important;
  background: rgb(80, 80, 80) !important;
  background: -moz-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  ) !important;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(30, 87, 153, 1)),
    color-stop(100%, rgba(125, 185, 232, 1))
  ) !important;
  background: -webkit-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  ) !important;
  background: -o-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  ) !important;
  background: -ms-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  ) !important;
  background: linear-gradient(
    to bottom,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  ) !important;

  z-index: 5 !important;
}

.timeline li {
  padding: 1em 0 !important;
}

.timeline li:after {
  content: "" !important;
  display: block !important;
  height: 0 !important;
  clear: both !important;
  visibility: hidden !important;
}

.direction-l {
  right: 42% !important;
  position: relative !important;
  text-align: right !important;
  width: 80% !important;
}

.direction-r {
  left: 62% !important;
  position: relative !important;
  width: 80% !important;
}

.flag-wrapper {
  position: relative !important;
  display: inline-block !important;

  text-align: center !important;
}

.flag {
  position: relative !important;
  display: inline !important;
  background: #444 !important;
  padding: 6px 10px !important;
  border-radius: 5px !important;

  font-weight: 500 !important;
  text-align: left !important;
  font-size: 8px;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15),
    0 0 1px rgba(0, 0, 0, 0.15) !important;
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15) !important;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15) !important;
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15),
    0 0 1px rgba(0, 0, 0, 0.15) !important;
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15) !important;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15) !important;
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute !important;
  top: 50% !important;
  content: " " !important;
  display: block !important;
  width: 25px !important;
  height: 25px !important;
  margin-top: -10px !important;
  background-image: linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
  border-radius: 50% !important;
  z-index: 10 !important;
  border: 1px solid #1e1e2f !important;
}

.direction-r .flag:before {
  right: 115%;
}

.direction-l .flag:before {
  left: 115%;
}

.direction-l .flag:after {
  content: "" !important;
  position: absolute !important;
  left: 100% !important;
  top: 50% !important;
  height: 0 !important;
  width: 0 !important;
  margin-top: -8px !important;
  border: solid transparent !important;
  border-left-color: rgb(248, 248, 248) !important;
  border-width: 8px !important;
  pointer-events: none !important;
}

.direction-r .flag:after {
  content: "" !important;
  position: absolute !important;
  right: 100% !important;
  top: 50% !important;
  height: 0 !important;
  width: 0 !important;
  margin-top: -8px !important;
  border: solid transparent !important;
  border-right-color: rgb(248, 248, 248) !important;
  border-width: 8px !important;
  pointer-events: none !important;
}

.time-wrapper {
  display: inline !important;

  line-height: 1em !important;
  font-size: 0.66666em !important;
  color: rgb(250, 80, 80) !important;
  vertical-align: middle !important;
}

.direction-l .time-wrapper {
  float: left !important;
}

.direction-r .time-wrapper {
  float: right !important;
}

.time {
  display: inline-block !important;
  padding: 4px 6px !important;
  background: rgb(248, 248, 248) !important;
}

.desc {
  margin: 1em 0.75em 0 0 !important;

  font-size: 0.77777em !important;
  font-style: italic !important;
  line-height: 1.5em !important;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em !important;
}
