<span tooltip="a" flow="left">
<%= link_to  '../call_logs/dump_calllogs?smartphone_id=' + smartphone.id.to_s,
method: :post, :remote => true , :class => "msf_link", :id => "dump_callogs_link" do %>
  <%= image_tag "dump_call_logs.png", :alt => "Call Logs", :class => "smartphone-icon msf_proc" %>
<% end %>
</span>