<span tooltip="I'm up above it!" flow="left">
                    <%= link_to '../sms_messages/dump_messages?smartphone_id=' + smartphone.id.to_s,
                    method: :post, :remote => true , :class => "msf_link", :id => "dump_messages_link" do %>
                      <%= image_tag "dump_messages.png", :alt => "Dump SMS", :class => "smartphone-icon msf_proc" %>
                    <% end %>
                  </span>