<span tooltip="a" flow="left">
<%= link_to  '../smartphones/dump_device_info?smartphone_id=' + smartphone.id.to_s,
method: :post, :remote => true , :class => "adb_msf_link", :id => "dump_device_info_link" do %>
  <%= image_tag "dump_device_info.png", :alt => "Device Info", :class => "smartphone-icon msf_proc" %>
<% end %>
</span>

<script>
    $("#dump_device_info_link").on('click',function(event){
        $( ".Terminal__body" ).trigger("write",[" > ", "dumpsys deviceinfo", ["Starting . . ."] ]);
    });
</script>