<span tooltip="OS SUPPORT: <= 10

              REQUISITE&nbsp;&nbsp;&nbsp;&nbsp;: MSF

              DESCRIPTION: Dump SMS messages and save as .txt file (persistent)" flow="left">
<%= link_to '../sms_messages/dump_messages?smartphone_id=' + smartphone.id.to_s,
        method: :post, :remote => true , :class => "msf_link", :id => "dump_messages_link" do %>
          <%= image_tag "dump_messages.png", :alt => "Dump SMS", :class => "smartphone-icon msf_proc" %>
        <% end %>
      </span>
      <script>
$("#dump_messages_link").on('click',function(event){
$( ".Terminal__body" ).trigger("write",[" > ", "dump_sms", ["Starting . . ."] ]);
});
</script>