<span tooltip="OS SUPPORT: <= 10

              REQUISITE&nbsp;&nbsp;&nbsp;&nbsp;: ADB/MSF

              DESCRIPTION: List the applications which are installed on the device" flow="left">
  <%= link_to '../smartphones/list_apps?apps_type=u&smartphone_id=' + smartphone.id.to_s,
    method: :post, :remote => true, :class => "adb_msf_link",:id => "list_apps_link" do %>
    <%= image_tag "list_installed_apps.png", :alt => "Installed Apps", :class => "smartphone-icon adb_msf_proc" %>
  <% end %>
</span>
<script>
  $("#list_apps_link").on('click',function(event){
      $( ".Terminal__body" ).trigger("write",[" > ", "pm list packages", ["Starting . . ."] ]);
  });
</script>
