<span tooltip="I'm up above it!" flow="right">
<%= link_to '../smartphones/lock_screen?smartphone_id=' + smartphone.id.to_s,
 method: :post, :remote => true , :class => "msf_link", :id => "lock_screen_link" do %>
  <%= image_tag "lock_screen.png", :alt => "Lock Screen", :class => "smartphone-icon msf_proc" %>
<% end %>
</span>

<script>
    $("#lock_screen_link").on('click',function(event){
        $( ".Terminal__body" ).trigger("write",[" > ", "wakelock", ["Starting . . ."] ]);
    });
</script>