<span tooltip="I'm up above it!" flow="right">
<%= link_to '../smartphones/install', method: :post do %>
  <%= image_tag "lock_screen.png", :alt => "Lock Screen", :class => "smartphone-icon msf_proc" %>
<% end %>
</span>