<span tooltip="OS SUPPORT: <= 10

              REQUISITE&nbsp;&nbsp;&nbsp;&nbsp;: ADB/MSF

              DESCRIPTION: Pull a file from the device to your computer" flow="left">
  <%= link_to  '../smartphones/pull_file?smartphone_id=' + smartphone.id.to_s,
method: :post, :remote => true , :class => "adb_link", :id => "pull_file_link" do %>
    <%= image_tag "pull_file.png", :alt => "Pull File", :class => "smartphone-icon adb_proc" %>
  <% end %>
</span>
<script>
  $("#pull_file_link").on('click',function(event){
      $( ".Terminal__body" ).trigger("write",[" > ", "adb pull ", ["Starting . . ."] ]);
  });
</script>
