<span tooltip="I'm up above it!" flow="up">
<%= link_to '../smartphones/install', method: :post do %>
<%= image_tag "wlan_geolocate.png", :alt => "WLAN Geolocate", :class => "smartphone-icon msf_proc" %>
<% end %>
</span>