<span tooltip="I'm up above it!" flow="up">
<%= link_to '../smartphones/install', method: :post do %>
  <%= image_tag "send_message.png", :alt => "Send Message", :class => "smartphone-icon msf_proc" %>
<% end %>
</span>