<span tooltip="I'm up above it!" flow="up">
<%= link_to '../smartphones/install', method: :post do %>
  <%= image_tag "shell_command.png", :alt => "Shell Command", :class => "smartphone-icon adb_msf_proc" %>
<% end %>
</span>