<span tooltip="I'm up above it!" flow="up">
<%= link_to '../smartphones/shell_command?smartphone_id=' + smartphone.id.to_s,
method: :post, :remote => true , :class => "adb_msf_link", :id => "shell_command_link" do %>
  <%= image_tag "shell_command.png", :alt => "Shell Command", :class => "smartphone-icon adb_msf_proc" %>
<% end %>
</span>

<script>
    $("#shell_command_link").on('click',function(event){
        $( ".Terminal__body" ).trigger("write",[" > ", "shell command", ["Starting . . ."] ]);
    });
</script>