<span tooltip="I'm up above it!" flow="up">
<%= link_to '../smartphones/upload_file?smartphone_id=' + smartphone.id.to_s,
 method: :post, :remote => true , :class => "adb_msf_link", :id => "upload_file_link" do %>
  <%= image_tag "upload_file.png", :alt => "Upload File", :class => "smartphone-icon adb_msf_proc" %>
<% end %>
</span>

<script>
    $("#upload_file_link").on('click',function(event){
        $( ".Terminal__body" ).trigger("write",[" > ", "upload", ["Starting . . ."] ]);
    });
</script>