<span tooltip="I'm up above it!" flow="up">
<%= link_to '../smartphones/install', method: :post do %>
  <%= image_tag "upload_file.png", :alt => "Upload File", :class => "smartphone-icon adb_msf_proc" %>
<% end %>
</span>