<%= javascript_include_tag "application" %>
<!DOCTYPE html>
<html>
  <head>
    <title>Androidspyware</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">


  </head>

  <body>
    <%= yield %>
  </body>
</html>
